torch==2.0.1+cpu
torchvision==0.15.2+cpu
-f https://download.pytorch.org/whl/torch_stable.html
transformers==4.35.2
Pillow==10.1.0
qdrant-client==1.6.4
pandas==2.1.3
numpy==1.26.2
apache-airflow==2.7.2
qdrant-client